h3 {{event.location}}
ul
 li {{event.startDate}}
 li {{event.type}}
 li
    a(target='_blank', href='{{event.url}}') {{event.url}}
 li {{event.confirmation}}
 li {{event.info}}
 li {{event.contact}}
 li {{event.bandOrganiser}}